body{ font-size: 1.6em;
    font-family: sans-serif;
    


           
    
}
header{ 
    
    background-color :grey;          
    color:#1a1010;   
    padding: 20px;
    border-bottom:3px solid red ;
    border-top: 3px solid red ;
    text-align: center;
    position:fixed;
    width: 100%;
    top:0;
    
    

}
header .logo{    
    font-weight: bold;
    font-size: 2em;
    }
header nav a{
    text-decoration: none;
    color:darkslategray;
    padding:0 1em;

    
}
header nav a:hover{
    color:black;
    background-color: red;
    
}
main{
    margin :130px;   
}
h1{
    font-size: 1.6em;  
}
section{
    max-width: 1300px;
    width: 70%;
    padding-top: 10px; 
    
}
.sisalto{
    
    margin-left: 20%;
    margin-bottom: 20px;
    background-color: lightgrey;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;


}
thead{
    border: 2px solid red;
    background-color: rgb(189, 183, 183);
        
    

 
}
table{
    border:2px solid red;
    margin-left:130px;
    background-color: rgb(225, 230, 235);
    empty-cells: hide;
  
}





footer{
    background-color: gray;
    padding:20px;
    text-align: center;
    border-top:3px solid red;
    }